$font-size: 1rem;
$font-color: lch(53 105 40);

:root {
  --main-bg-color: pink;
  --primary-background-color: #fafafc;
  --main-text-color: #444444;
}

html {
  font-size: $font-size;
  color: var(--main-text-color);
}
.someClass {
  font-size: 14px;
  font-weight: bold;
}

.app {
  color: red;
}

